<ion-content [fullscreen]="true">
  <link rel="stylesheet" href="restablecer.page.scss">
<body id="body">
  <div id="strong">
    <strong> Para recuperar su cuenta ingrese su correo y su contraseña.</strong>
  </div>
  
  <div id="label">
    <ion-item>
      <ion-input  label="Correo electrónico" labelPlacement="floating" placeholder="" errorText="Email invalido" ngModel email></ion-input>
    </ion-item>
  </div>

  <div id="button">
    <ion-button href="http://localhost:8100/login" round="">RECUPERAR</ion-button>
  </div>

</body>
</ion-content>
