<ion-content [fullscreen]="true">

  <link rel="stylesheet" href="login.page.scss">
  <body id="body">
      <div id="container">
        <strong>BIENVENIDO!</strong>
        
        <h6>Porfavor inicie sesion</h6>
      </div>
    
      <div id="label">
        <ion-item>
          <ion-input  label="Usuario" labelPlacement="floating" placeholder=""></ion-input>
        </ion-item>
      </div>
    
      <div id="password">
        <ion-item>
          <ion-input label="Password" type="password" labelPlacement="floating" placeholder=""></ion-input>
        </ion-item>
      </div>
    
      <div id="button">
        <ion-button href="http://localhost:8100/home" round="">Ingresar</ion-button>
      </div>
    
      <div id="link">
        <ion-button href="http://localhost:8100/restablecer">RECUPERAR CUENTA</ion-button>
      </div>

      <div id="link2">
        <ion-button href="http://localhost:8100/registro">REGISTRARSE</ion-button>
      </div>
    </body>
</ion-content>
