#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 40px;
    line-height: 26px;
    margin-top: -10px;
    color: white;
    -webkit-text-stroke: 3px black;
    
  }
  
  #container h6 {
    font-size: 35px;
    line-height: 22px;
    margin-top: -20px;
    color: white;
    margin: 0;
    -webkit-text-stroke: 2px black;
  
  }
  
  
  #label {
    text-align: center;
    position: absolute;
    transform: translateX(6%);
    left: 0;
    right: 0;
    top: 30%;
    width: 400px;
  }
  
  #password {
    text-align: center;
    position: absolute;
    transform: translateX(6%);
    left: 0;
    right: 0;
    top: 45%;
    width: 400px;
  }
  
  #button {
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    top: 60%;
  
  }
  
  #link {
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    top: 70%;
  }

  #link2 {
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    top: 77%;
  }

  #body{
    background-color: white;
    background-image: url('./seguridad-informatica-1024x439.jpeg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
  }